<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK4FcaJ75d-6MBpk3C__ce0AM4uu9DEJM</string>
	<key>GCM_SENDER_ID</key>
	<string>151808496193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dithdyt.lico</string>
	<key>PROJECT_ID</key>
	<string>lico-project-fdb71</string>
	<key>STORAGE_BUCKET</key>
	<string>lico-project-fdb71.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151808496193:ios:2c9e946c4d945e296cecc0</string>
</dict>
</plist>